@font-face {
  src: url(../Fonts/IBMPlexSans-Light.ttf);
  font-family: IBMLight;
}

.header1 {
  font-family: IBMLight;
  color: #39FF14;
}

.header3 {
  font-family: IBMLight;
  color: #39FF14;
}

.buttonStyle {
    display: flex;
    background: #145708;
    color: black;
    height: 100%;
    width: 80px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: IBMLight;
    transition: 0.5ms;
}

.buttonStyle-left {
  display: flex;
  background: #145708;
  color: black;
  height: 100%;
  width: 80px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: IBMLight;
  border-top-left-radius: 15px;
  transition: 1s;
}

.buttonStyle-right {
  display: flex;
  background: #145708;
  color: black;
  height: 100%;
  width: 80px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: IBMLight;
  border-top-right-radius: 15px;
  transition: 1s;
}

.buttonStyle:focus,
.buttonStyle-left:focus,
.buttonStyle-right:focus{

  background: #39FF14;

}

.locatorStyle {
    padding-top: 30px;
    background: none;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.navBar {
    display: -webkit-flex;
    flex-direction: row;
}

.webName {
    margin: initial;
    height: 100%;
    font-family: IBMLight;
    color: #39FF14;
}

@media only screen and (max-width: 460px){

    .locatorStyle{
        flex-direction: column;
        text-align: left;
    }

    .buttonStyle,
    .buttonStyle-left,
    .buttonStyle-right{
        width: 100%;
    }


    .navBar{
        width: 100%;
        height: 43px;
    }

}
