@font-face {
  src: url(../Fonts/IBMPlexSans-Light.ttf);
  font-family: IBMLight;
}

.SoftwareLink{
    width: 100%;
}

.projectDate{
    line-height: 0.1em;
}

.linkStyle {
  text-decoration: none;
  color: #FF008E;
}

