@font-face {
  src: url(../Fonts/IBMPlexSans-Light.ttf);
  font-family: IBMLight;
}

.SoftwareLink{
    width: 100%;
}

.dateStyle {
  font-family: IBMLight;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  padding: 2px;
}

.linkHeader{
  margin: 0px;
}

.linkStyle {
  padding: 2px;
  text-align: center;
  text-decoration: none;
  color: #2ebbce;
  font-family: IBMLight;
  transition: 250ms;
}

.linkStyle:hover {
  background-color: #2ebbce;
  color: black;
}

