body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg
{
  position:fixed;
  background: linear-gradient(#070739, #160040 50%, #FF0000 115%);
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  z-index: -2;
}

/* linear-gradient(#081623, #081623 50%, #063e66 115%); also recommend */
